{% load i18n %}
{% load diagnosis_extras %}

<div>
{% if diagnosis %}
    {% if error_messages %}
        <p>
            <ul>
            {% for err in error_messages %}
                <li><strong>{{ err }}</strong></li>
            {% endfor %}
            </ul>
        </p>
    {% endif %}
    <form class="diagnosis_form" action="{% url 'diagnosis_complete' diagnosis.id %}" method="post">
    {% csrf_token%}
    <ol>
        <li>
            {% if diagnosis.start_question.requires_answer %}<strong>*</strong>{% endif %} {{ diagnosis.start_question.text }}<br>
            <ul>
            {% for a in diagnosis.start_question.offeredanswer_set.all %}
                <li>
                    {% if diagnosis.start_question.question_type == 'I' %}
                        {{ a.prefix }} <input type="text" name="q{{ diagnosis.start_question.id }}" id="q{{ diagnosis.start_question.id }}{{ forloop.counter }}"
                                            {% with value=last_post|dictget:diagnosis.start_question.id %}
                                                {% if value %}
                                                    value="{{ value.0 }}"
                                                {% elif a.default %}
                                                    value="{{ a.default }}"
                                                {% endif %}
                                            {% endwith %}
                                       /> {{ a.sufix }} {% if a.validation_format %}(format: {{ a.validation_format }}){% endif %}
                    {% elif diagnosis.start_question.question_type == 'R' %}
                        <input type="radio" name="q{{ diagnosis.start_question.id }}" id="q{{ diagnosis.start_question.id }}{{ forloop.counter }}" value="{{ a.id }}"
                            {% with value=last_post|dictget:diagnosis.start_question.id %}
                                {% if value %}
                                    {% if value.0|add:"0" == a.id %}
                                        checked="checked"
                                    {% endif %}
                                {% elif a.default %}
                                    checked="checked"
                                {% endif %}
                            {% endwith %}
                        /> {{ a.text }}
                    {% elif diagnosis.start_question.question_type == 'C' %}
                        <input type="checkbox" name="q{{ diagnosis.start_question.id }}" id="q{{ diagnosis.start_question.id }}{{ forloop.counter }}" value="{{ a.id }}"
                            {% with value=last_post|dictget:diagnosis.start_question.id %}
                                {% if value %}
                                    {% if value.0|add:"0" == a.id %}
                                        checked="checked"
                                    {% endif %}
                                {% elif a.default %}
                                    checked="checked"
                                {% endif %}
                            {% endwith %}
                        /> {{ a.text }}
                    {% elif diagnosis.start_question.question_type == 'RI' %}
                        <input type="radio" name="q{{ diagnosis.start_question.id }}" id="q{{ diagnosis.start_question.id }}{{ forloop.counter }}" value="{{ a.id }}"
                            {% with value=last_post|dictget:diagnosis.start_question.id %}
                                {% if value %}
                                    {% if value.0|add:"0" == a.id %}
                                        checked="checked"
                                    {% endif %}
                                {% elif a.default %}
                                    checked="checked"
                                {% endif %}
                            {% endwith %}
                        />
                        {% if a.answer_type == 'I' %}
                            {{ a.prefix }} <input type="text" name="q{{ diagnosis.start_question.id }}_value" id="q{{ diagnosis.start_question.id }}{{ forloop.counter }}_value"
                                            {% with key=diagnosis.start_question.id|add:"_value" %}
                                                {% with value=last_post|dictget:key %}
                                                    {% if value %}
                                                        value="{{ value.0 }}"
                                                    {% elif a.default %}
                                                        value="{{ a.default }}"
                                                    {% endif %}
                                                {% endwith %}
                                            {% endwith %}
                                           /> {{ a.sufix }} {% if a.validation_format %}(format: {{ a.validation_format }}){% endif %}
                        {% else %}
                            {{ a.text }}
                        {% endif %}
                    {% elif diagnosis.start_question.question_type == 'CI' %}
                        <input type="checkbox" name="q{{ diagnosis.start_question.id }}" id="q{{ diagnosis.start_question.id }}{{ forloop.counter }}" value="{{ a.id }}"
                            {% with value=last_post|dictget:diagnosis.start_question.id %}
                                {% if value %}
                                    {% if a.id|asstr in value %}
                                        checked="checked"
                                    {% endif %}
                                {% elif a.default %}
                                    checked="checked"
                                {% endif %}
                            {% endwith %}
                        />
                        {% if a.answer_type == 'I' %}
                            {% with key=diagnosis.start_question.id|add:"_value" %}
                                {% with value=last_post|dictget:key %}
                                    {{ a.prefix }} <input type="text" name="q{{ diagnosis.start_question.id }}_value" id="q{{ diagnosis.start_question.id }}{{ forloop.counter }}_value"
                                                    {% if value %}
                                                        value="{{ value.0 }}"
                                                    {% elif a.default %}
                                                        value="{{ a.default }}"
                                                    {% endif %}
                                           /> {{ a.sufix }} {% if a.validation_format %}(format: {{ a.validation_format }}){% endif %}
                                {% endwith %}
                            {% endwith %}
                        {% else %}
                            {{ a.text }}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </li>
    </ol>
    <input type="submit" name="submit" value="{% trans 'Send' %}"/>
    </form>
{% else %}
    {% trans 'No diagnosis' %}
{% endif %}
</div>